# Python-related
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
.eggs/

# Virtual environment
venv/
env/
.venv/
.env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*~

# Operating system files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Logs
*.log

# Temporary files
*.tmp

# Selenium WebDriver
geckodriver.log
chromedriver.log
fpl.ipynb
test.bat
test.ipynb

# Data files (uncomment if you don't want to track these)
# *.csv
# *.json

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*